@page
@model UpdaterAPKModel
@{
    ViewData["Title"] = "Mobile Application APK - Update";
}
<h1>@ViewData["Title"]</h1>

<p>Update any changes from this page!</p>

<hr>

<form method="post">
    <fieldset>
        <input type="submit" value="Update" class="submit">
    </fieldset>
</form>
